.jumbotron {
  background-color: #000000; /* High contrast black background */
  color: #FFFFFF; /* High contrast white text */
}

.high-contrast .bg-dark {
  background-color: #000000 !important;
  color: #FFFF00 !important;
}

<<<<<<< Updated upstream
.blog-header-logo {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
=======
.high-contrast .bg-light {
  background-color: #000000 !important;
  color: #FFFF00 !important;
>>>>>>> Stashed changes
}

.high-contrast a {
  color: #00FFFF !important;
}

.high-contrast button.btn-primary {
  background-color: #FFFF00 !important;
  color: #000000 !important;
  border-color: #FFFF00 !important;
}
<<<<<<< Updated upstream

.form-group textarea {
  height: 200px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.abstand{
  height: 10%;
}
=======
>>>>>>> Stashed changes
