.jumbotron {
  background-color: #000000; /* High contrast black background */
  color: #FFFFFF; /* High contrast white text */
}

.high-contrast .bg-dark {
  background-color: #000000 !important;
  color: #FFFF00 !important;
}

.high-contrast .bg-light {
  background-color: #000000 !important;
  color: #FFFF00 !important;
}

.high-contrast a {
  color: #00FFFF !important;
}

.high-contrast button.btn-primary {
  background-color: #FFFF00 !important;
  color: #000000 !important;
  border-color: #FFFF00 !important;
}
