.footer {
<<<<<<< Updated upstream
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #767676;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
    text-decoration: none; 
  }
=======
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #767676;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f9fa;
  text-decoration: none;
}


.high-contrast{
  background-color: #000000 !important; 
  color: #FFFF00 !important; 
}

.high-contrast a {
  color: #FFFF00 !important; 
}
>>>>>>> Stashed changes
