.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #767676; /* Nicht ausreichend, daher anpassen */
  background-color: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
}

.high-contrast {
  background-color: #000000 !important;
  color: #FFFF00 !important; /* Kontrast sicherstellen */
}

.high-contrast a {
  color: #FFFF00 !important;
}

/* Dynamische Textgrößenregelung */
.footer {
  font-size: 100%;
}

.footer.large-text {
  font-size: 200%;
}
